WMS_ORACLE_USER=RABAEV
WMS_ORACLE_PASSWORD=change-me
WMS_ORACLE_DSN=127.0.0.1:1521/orcl
WMS_API_TITLE=WMS/TMS API Server
WMS_API_VERSION=0.1.0
WMS_CORS_ORIGINS=*
WMS_API_AUDIT_ENABLED=1
WMS_API_AUDIT_LOCAL_DIR=runtime/api_audit
WMS_API_AUDIT_MAX_BODY_CHARS=200000
WMS_API_AUDIT_CAPTURE_RESPONSE_BODY=1
WMS_API_REPLAY_BASE_URL=http://127.0.0.1:8088
WMS_ADMIN_AUTH_ENABLED=1
