<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsApplication2.Properties.Settings.ConnectionString7"
            connectionString="Data Source=refstock;Persist Security Info=True;User ID=refstock;Password=refstock;Unicode=True"
            providerName="System.Data.OracleClient" />
        <add name="WindowsApplication2.Properties.Settings.ConnectionString8"
            connectionString="Data Source=refstock;Persist Security Info=True;User ID=Rabaev;Password=Rabaev11;Unicode=True"
            providerName="System.Data.OracleClient" />
    </connectionStrings>
</configuration>