<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <appSettings>
        <add key="WmsDataSource.Default" value="(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=127.0.0.1)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=orcl)))" />
        <add key="WmsDataSource.DBWMS" value="(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=127.0.0.1)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=orcl)))" />
        <add key="WmsDataSource.DBWMSSUR" value="(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=127.0.0.1)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=orcl)))" />
        <add key="WmsDataSource.DBWMSUFA" value="(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=127.0.0.1)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=orcl)))" />
    </appSettings>
    <connectionStrings>
        <add name="WindowsApplication2.Properties.Settings.ConnectionString7"
            connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=127.0.0.1)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=orcl)));Persist Security Info=True;User ID=refstock;Password=refstock;Unicode=True"
            providerName="Oracle.ManagedDataAccess.Client" />
        <add name="WindowsApplication2.Properties.Settings.ConnectionString8"
            connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=127.0.0.1)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=orcl)));Persist Security Info=True;User ID=Rabaev;Password=Rabaev11;Unicode=True"
            providerName="Oracle.ManagedDataAccess.Client" />
    </connectionStrings>
</configuration>
